# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=false
}


Whitelist {
    B:adamantine.molten=false
    B:aerotheum=false
    B:alduorite.molten=false
    B:aluminum.molten=false
    B:aluminumbrass.molten=false
    B:alumite.molten=false
    B:amordrine.molten=false
    B:angmallen.molten=false
    B:ardite.molten=false
    B:astral.silver.molten=false
    B:atlarus.molten=false
    B:bacterialsludge=false
    B:bedrockium.molten=false
    B:biofuel=false
    B:black.steel.molten=false
    B:blood=false
    B:blutonium.molten=false
    B:boiling=false
    B:brass.molten=false
    B:brine1=false
    B:brine2=false
    B:brine3=false
    B:brine4=false
    B:bronze.molten=false
    B:carmot.molten=false
    B:celenegil.molten=false
    B:ceruclase.molten=false
    B:chocolatemilk=false
    B:cloud_seed=false
    B:cloud_seed_concentrated=false
    B:coal=false
    B:cobalt.molten=false
    B:conductive.iron.molten=false
    B:constantan.molten=false
    B:copper.molten=false
    B:cryotheum=false
    B:cyanite=false
    B:damascus.steel.molten=false
    B:dark.steel.molten=false
    B:deep.iron.molten=false
    B:desh.molten=false
    B:desichalkos.molten=false
    B:electrical.steel.molten=false
    B:electrum.molten=false
    B:emerald.liquid=false
    B:ender=false
    B:enderium.molten=false
    B:energetic.alloy.molten=false
    B:europa_water_fluid=false
    B:eximite.molten=false
    B:fairy.molten=false
    B:fire_water=false
    B:fuel=false
    B:glass.molten=false
    B:glowstone=false
    B:glue=false
    B:gold.molten=false
    B:haderoth.molten=false
    B:hell_blood=false
    B:hepatizon.molten=false
    B:honey=false
    B:hootch=false
    B:hydrogen=false
    B:ignatius.molten=false
    B:infuscolium.molten=false
    B:inolashite.molten=false
    B:invar.molten=false
    B:iron.molten=false
    B:kalendrite.molten=false
    B:lava=false
    B:lead.molten=false
    B:lemurite.molten=false
    B:liquid_sunshine=false
    B:ludicrite.molten=false
    B:lumium.molten=false
    B:mana=false
    B:manganese.molten=false
    B:manyullyn.molten=false
    B:matter_plasma=false
    B:meat=false
    B:meutoite.molten=false
    B:midasium.molten=false
    B:milk=false
    B:mithril.molten=false
    B:mobessence=false
    B:molten_tritanium=false
    B:mushroomsoup=false
    B:nickel.molten=false
    B:nitrogen=false
    B:nutrient_distillation=false
    B:obsidian.molten=false
    B:oil=false
    B:orichalcum.molten=false
    B:osmium.molten=false
    B:oureclase.molten=false
    B:oxygen=false
    B:petrotheum=false
    B:phased.gold.molten=false
    B:phased.iron.molten=false
    B:pigiron.molten=false
    B:pinkslime=false
    B:platinum.molten=false
    B:poison=false
    B:pokefennium.molten=false
    B:prometheum.molten=false
    B:pyrotheum=false
    B:quicksilver.molten=false
    B:red.aurum.molten=false
    B:redplasma=false
    B:redstone=false
    B:redstone.alloy.molten=false
    B:refined.glowstone.molten=false
    B:rocket_fuel=false
    B:rocketfuel=false
    B:rubracium.molten=false
    B:sanguinite.molten=false
    B:sewage=false
    B:shadow.iron.molten=false
    B:shadow.steel.molten=false
    B:signalum.molten=false
    B:silicon.liquid=false
    B:silver.molten=false
    B:slime.blue=false
    B:sludge=false
    B:soularium.molten=false
    B:steam=false
    B:steel.molten=false
    B:stone.seared=false
    B:sulfurousacid=false
    B:syngas=false
    B:tartarite.molten=false
    B:thinvolatilegas=false
    B:tin.molten=false
    B:volatilegas=false
    B:volcanicgas=false
    B:vulcanite.molten=false
    B:vyroxeres.molten=false
    B:water=false
    B:witchwater=false
    B:yellorium=false
    B:zinc.molten=false
}


